**Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)**

**Objectives**
+ List popular languages for Data Science
+ List popular libraries for Data Science
+ A table wih the most popular Data Science Tools
+ A few examples of evaluating arithmetic expressions in Python

**Exercise 4 - Create a markdown cell to list data science languages. (3 pts)**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

**Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)**

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch

**Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)**

## Data Science Tools

| Data Science Tools |
| --------------|
| Jupyter Notebooks |
| RStudio |
| VS Code |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)**

In [1]:
#This a simple arithmetic expression to mutiply then add integers


(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)**

In [2]:
#This will convert 200 minutes to hours by diving by 60

(200 / 60)

3.3333333333333335

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)**

## Author
Alessandra Andrade Ac